:host {
  display: block;
  height: 100%;

  .range-toggle-container {
    overflow-x: auto;

    .performance-range-toggle {
      cursor: pointer;

      ::ng-deep .mat-mdc-radio-button {
        cursor: pointer;
      }

      ::ng-deep .mat-mdc-radio-button label {
        cursor: pointer;
      }

      ::ng-deep .mat-mdc-radio-button.cursor-pointer:hover {
        background-color: rgba(var(--dark-dividers), 0.6);
      }
    }
  }

  .chart-container {
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 50rem;

    // Fallback for aspect-ratio (using padding hack)
    @supports not (aspect-ratio: 16 / 9) {
      &::before {
        float: left;
        padding-top: 56.25%;
        content: '';
      }

      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }

    gf-line-chart {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .introduction {
    max-width: 50rem;
  }
}

:host-context(.theme-dark) {
  .range-toggle-container {
    .performance-range-toggle {
      ::ng-deep .mat-mdc-radio-button.cursor-pointer:hover {
        background-color: rgba(var(--light-dividers), 0.6);
      }
    }
  }
}
