:host {
  display: block;
  height: 100%;

  .chart-controls {
    gap: 0.75rem;
    max-width: 50rem;

    .account-select {
      margin-bottom: 0;
      min-width: 12rem;
      width: 18rem;
    }

    .range-toggle-container {
      margin-left: auto;
    }

    @media (max-width: 575.98px) {
      align-items: stretch !important;
      flex-direction: column;

      .account-select {
        width: 100%;
      }

      .range-toggle-container {
        margin-left: 0;
      }
    }
  }

  .range-toggle-container {
    overflow-x: auto;
  }

  .chart-container {
    aspect-ratio: 16 / 9;
    height: auto;
    max-width: 50rem;

    // Fallback for aspect-ratio (using padding hack)
    @supports not (aspect-ratio: 16 / 9) {
      &::before {
        float: left;
        padding-top: 56.25%;
        content: '';
      }

      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }

    gf-line-chart {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .introduction {
    max-width: 50rem;
  }
}
